@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./Font/Montserrat.ttf') format('ttf');
}

.slick-list { margin: 0 -7px; }

.slick-slide > div { padding: 0 10px; }

@tailwind utilities;