@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./Font/Montserrat.ttf') format('ttf');
}

.slick-list { margin: 0 -7px; }

.slick-slide > div { padding: 0 10px; }

.slick-prev, .slick-next {
    color: white;
    z-index:99;
}

.slick-slide:not(.slick-active) {
    pointer-events: none;
}

@tailwind utilities;