@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./Font/Montserrat.ttf') format('ttf');
}

body{
    overflow-x:hidden;
    background-color: #141414;
}

.slick-arrow{
    position: sticky;
    color: white;
    font-size:1rem;
}

.slick-prev{
    left:5px!important;
}

.slick-prev:before, .slick-next:before{
    font-size:2rem!important;
}

.slick-prev.slick-disabled::before, .slick-next.slick-disabled::before{
    opacity: 1!important;

}

.slick-next{
    right:25px!important
}

.slick-list { margin: 0 -7px; width: 100% }

.slick-slide > div { padding: 0 10px; }

.slick-prev, .slick-next {
    color: white;
    z-index:99;
}

.slick-slide:not(.slick-active) {
    pointer-events: none;
}

@tailwind utilities;